<link rel="stylesheet" href="/css/user.css">

<h1>
    <p>Profile page.</p>
</h1>

<% if(user.id == profile_user.id){ %>
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
    <form action="/users/update/<%= user.id %>" method="post">
        <input type="text" name="name" placeholder="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="<%= profile_user.email%>" required>
        <button type="submit">Update</button>
    </form>
<% }else{ %>
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
<% } %>

